<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"  rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <style>
        body{
          overflow-y: scroll; 
        }
      </style>
</head>
<body>

    
<nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="#" class="flex items-center">
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Orders</span>
      </a>
      <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
          <li>
            <a href="{% url 'nse_app:home' %}" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500 dark:bg-blue-600 md:dark:bg-transparent" aria-current="page">Home</a>
          </li>
          <!-- <li>
              <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto dark:text-white md:dark:hover:text-blue-500 dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent">Dropdown <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg></button>

              <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                  <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                    </li>
                    <li>
                      <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                    </li>
                  </ul>
                  <div class="py-1">
                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Sign out</a>
                  </div>
              </div>
          </li> -->
          <li>
            <a href="{% url 'nse_app:pcrvalues' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pcr Values</a>
          </li>
          <li>
            <a href="{% url 'nse_app:settings' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Settings</a>
          </li>
          <li>
            <a href="{% url 'nse_app:pcrUpdate' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Update Pcr</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
    
<div class="mt-3 relative overflow-x-auto shadow-md sm:rounded-lg" >
    <table class="w-full text-sm text-left text-center">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                </th>
                <th scope="col" class="px-6 py-3">
                    Strike Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Entry Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Target Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Stop Lose
                </th>
                <th scope="col" class="px-6 py-3">
                    Exit Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Buy Time
                </th>
                <th scope="col" class="px-6 py-3">
                    Option
                </th>
                <th scope="col" class="px-6 py-3">
                    Final Status
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Delete</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr
            {% if i.status == 'BUY' %}
              style="background-color: #9999ff;"
            {% endif %}
            {% if today|date:"Y-m-d" == i.buy_time|date:"Y-m-d" %}
              style="background-color: #b3c6ff;"
            {% endif %}
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
            >
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ forloop.counter }}
                </td>
                <td class="px-6 py-4">
                    {{ i.base_strike_price }}
                </td>
                <td class="px-6 py-4">
                    {{ i.buy_price }}
                </td>

                <td class="px-6 py-4">
                    {{ i.sell_price }}
                </td>
                <td class="px-6 py-4">
                    {{ i.stop_loseprice }}
                </td>
                <td class="px-6 py-4">
                    {{ i.exit_price }}
                </td>

                <td class="px-6 py-4">
                    {{ i.buy_time }}
                </td>
                {% if i.percentage_id == 1 %}
                <td class="px-6 py-4">
                    BANKNIFTY CE
                </td>
                {% elif i.percentage_id == 2 %}
                <td class="px-6 py-4">
                    NIFTY CE
                </td>
                {% elif i.percentage_id == 3 %}
                <td class="px-6 py-4">
                    BANKNIFTY PE
                </td>
                {% elif i.percentage_id == 4 %}
                <td class="px-6 py-4">
                    NIFTY PE
                </td>
                {% elif i.percentage_id == 6 %}
                <td class="px-6 py-4">
                    BANKNIFTY PCR CE
                </td>
                {% elif i.percentage_id == 9 %}
                <td class="px-6 py-4">
                    BANKNIFTY PCR PE
                </td>
                {% elif i.percentage_id == 8 %}
                <td class="px-6 py-4">
                    NIFTY PCR CE
                </td>
                {% elif i.percentage_id == 5 %}
                <td class="px-6 py-4">
                    {{ i.stock_name }} CE
                </td>
                {% elif i.percentage_id == 7 %}
                <td class="px-6 py-4">
                    {{ i.stock_name }} PE
                </td>
                {% elif i.percentage_id == 11 %}
                <td class="px-6 py-4">
                    {{ i.stock_name }} PCR CE
                </td>
                {% else %}
                <td>
                    <p class="fw-normal mb-1">
                      {{ i.percentage_id }}
                    </p>
                  </td>
                  {% endif %}
                <td class="px-6 py-4">
                    {% if i.final_status == 'PROFIT' %}
                    <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">{{ i.final_status }}</span>
                    {% else %}
                    <span class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">{{ i.final_status }}</span>
                    {% endif %}
                </td>

                <td class="px-6 py-4 text-right">
                    <a href="#" onclick="toggleDropdown(event, '{{ i.id }}')" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Details</a>
                </td>
            </tr>
            <tr id="{{ i.id }}" class="hidden bg-gray-200">
                <td></td>
                <td colspan="9" class="px-4 py-2">
                  <span>Live Strike: {{ i.live_Strike_price }} |</span>&nbsp;
                  <span>Entry PCR: {{ i.buy_pcr }} |</span>&nbsp;
                  <span>Exit PCR: {{ i.exit_pcr }} |</span>&nbsp;
                  <span>Sell Time: {{ i.sell_buy_time }} |</span>&nbsp;
                  <span>Status: {{ i.status }} </span>&nbsp;&nbsp;
                  <a href="{% url 'nse_app:deletestock' i.id %}" class="font-medium text-red-600 dark:text-blue-500 hover:underline">Delete</a>
                </td>
            {% endfor %}

        </tbody>
    </table>
</div>

<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    {% if pagination_info.page.has_other_pages %}
      <nav class="flex" style="justify-content: end;">
        <div>
          {% if pagination_info.page.has_previous %}
            <a href="?page={{ pagination_info.page.previous_page_number }}" class="text-blue-600 hover:text-blue-800 font-medium">Previous</a>
          {% endif %}
        </div>
        <div class="text-gray-700 ml-2 mr-2">
          Page {{ pagination_info.page.number }} of {{ pagination_info.paginator.num_pages }}
        </div>
        <div>
          {% if pagination_info.page.has_next %}
            <a href="?page={{ pagination_info.page.next_page_number }}" class="text-blue-600 hover:text-blue-800 font-medium">Next</a>
          {% endif %}
        </div>
      </nav>
    {% endif %}
  </div>
  


<script>
    function toggleDropdown(event, id) {
        event.preventDefault();
        var element = document.getElementById(id);
        element.classList.toggle("hidden");
      }
      
</script>

</body>
</html>