<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <title>Pcr Values</title>
</head>
<body>

    <nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
          <a href="#" class="flex items-center">
              <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Pcr Values</span>
          </a>
          <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          </button>
          <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
              <li>
                <a href="{% url 'nse_app:home' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Home</a>
              </li>
              <li>
                <a href="{% url 'nse_app:pcrvalues' %}" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0">Pcr Values</a>
              </li>
              <li>
                <a href="{% url 'nse_app:settings' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" aria-current="page">Settings</a>
              </li>
              <!-- <li>
                <a href="{% url 'nse_app:pcrUpdate' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Update Pcr</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>

    <div class="flex flex-row">
        <table class="table w-1/2 mr-4 border ml-3">
          <thead>
            <tr class="bg-gray-100">
              <th class="px-4 py-2">Time Stamp</th>
              <th class="px-4 py-2">Option</th>
              <th class="px-4 py-2">Pcr Value</th>
            </tr>
          </thead>
          <tbody>
            {% for i in data %}
                {% if i.option_name == 'BANKNIFTY' %}
                    <tr class="border">
                    <td class="px-4 py-2">{{ i.option_name }}</td>
                    <td class="px-4 py-2">{{ i.timestamp }}</td>
                    <td class="px-4 py-2">{{ i.pcr_value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
        
        <table class="table w-1/2 mr-4 border">
          <thead>
            <tr class="bg-gray-100">
              <th class="px-4 py-2">Time Stamp</th>
              <th class="px-4 py-2">Option</th>
              <th class="px-4 py-2">Pcr Value</th>
            </tr>
          </thead>
          <tbody>
            {% for i in data %}
                {% if i.option_name == 'NIFTY' %}
                    <tr class="border">
                    <td class="px-4 py-2">{{ i.option_name }}</td>
                    <td class="px-4 py-2">{{ i.timestamp }}</td>
                    <td class="px-4 py-2">{{ i.pcr_value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      
      
</body>
</html>