<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSE data</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
  <h1>NSE</h1>
  <br>

  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Base Strike Price</th>
        <th scope="col">Live Strike Price</th>
        <th scope="col">Buy Price</th>
        <th scope="col">target Price</th>
        <th scope="col">Stop Lose</th>
        <th scope="col">Exit Price</th>
        <th scope="col">Buy Time</th>
        <th scope="col">Sell Time</th>
        <th scope="col">Percentage</th>
        <th scope="col">Status</th>
        <th scope="col">Final Status</th>

      </tr>
    </thead>
    <tbody>
      {% for i in data %}
      <tr>
        <th scope="row">
          {{ forloop.counter }}
        </th>
        <td>
          {{ i.base_strike_price }}
        </td>
        <td>
          {{ i.live_Strike_price }}
        </td>
        <td>
          {{ i.buy_price }}
        </td>
        <td>
          {{ i.sell_price }}
        </td>
        <td>
          {{ i.stop_loseprice }}
        </td>
        <td>
          {{ i.exit_price }}
        </td>
        <td>
          {{ i.buy_time }}
        </td>
        <td>
          {{ i.sell_buy_time }}
        </td>

        {% if i.percentage_id == 1 %}
        <td>BANKNIFTY CE</td>
        {% elif i.percentage_id == 2 %}
        <td>NIFTY CE</td>
        {% elif i.percentage_id == 3 %}
        <td>BANKNIFTY PE</td>
        {% elif i.percentage_id == 4 %}
        <td>NIFTY PE</td>
        {% elif i.percentage_id == 5 %}
        <td>{{ i.stock_name }}</td>
        {% endif %}

        <td style="color:blue;">
            {{ i.status }}
        </td>

        {% if i.final_status == 'PROFIT' %}
        <td style="color:green;">
          {{ i.final_status }}
        </td>
        {% else %}
        <td style="color:red;">
          {{ i.final_status }}
        </td>
        {% endif %}

      </tr>
      {% endfor %}


    </tbody>
  </table>





  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>