<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NSE data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <h1>NSE</h1>
    <br>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Base Strike Price</th>
                <th scope="col">Live Strike Price</th>
                <th scope="col">Buy Price</th>
                <th scope="col">Percentage</th>
                <th scope="col">Sell Price</th>
                <th scope="col">Stop Loseprice</th>
                <th scope="col">Live Brid Price</th>
                <th scope="col">Exit Price</th>
                <th scope="col">Buy Time</th>
                <th scope="col">Sell Buy Time</th>
                <th scope="col">Status</th>

            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ i.base_strike_price }}</td>
                <td>{{ i.live_Strike_price }}</td>
                <td>{{ i.buy_price }}</td>
                <td>{{ i.sell_price }}</td>
                <td>{{ i.stop_loseprice }}</td>
                <td>{{ i.live_brid_price }}</td>
                <td>{{ i.exit_price }}</td>
                <td>{{ i.buy_time }}</td>
                <td>{{ i.sell_buy_time }}</td>
                <td>{{ i.percentage_id }}</td>
                <td style="color:blue;"><b>{{ i.status }}</b></td>
            </tr>
            {% endfor %}


        </tbody>
    </table>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>