<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Pcr Stock</h3>

    <p>Success Count: {{ success_count }} </p>
    <p>Reject Count: {{ reject_count }} </p>

    <br>
    {% for stock in update_needed %}
        {{ stock }} <br>
    {% endfor %}
        
</body>

</html>