{% extends 'base.html' %}


{% block head %}
<title>Pcr Value</title>    
{% endblock head %}

{% block content %}
    <div class="flex flex-row">
        <table class="table w-1/2 mr-4 border ml-3">
          <thead>
            <tr class="bg-gray-100">
              <th class="px-4 py-2">Time Stamp</th>
              <th class="px-4 py-2">Option</th>
              <th class="px-4 py-2">Pcr Value</th>
            </tr>
          </thead>
          <tbody>
            {% for i in data %}
                {% if i.option_name == 'BANKNIFTY' %}
                    <tr class="border">
                    <td class="px-4 py-2">{{ i.option_name }}</td>
                    <td class="px-4 py-2">{{ i.timestamp }}</td>
                    <td class="px-4 py-2">{{ i.pcr_value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
        
        <table class="table w-1/2 mr-4 border">
          <thead>
            <tr class="bg-gray-100">
              <th class="px-4 py-2">Time Stamp</th>
              <th class="px-4 py-2">Option</th>
              <th class="px-4 py-2">Pcr Value</th>
            </tr>
          </thead>
          <tbody>
            {% for i in data %}
                {% if i.option_name == 'NIFTY' %}
                    <tr class="border">
                    <td class="px-4 py-2">{{ i.option_name }}</td>
                    <td class="px-4 py-2">{{ i.timestamp }}</td>
                    <td class="px-4 py-2">{{ i.pcr_value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      
{% endblock content %}
