{% extends 'base.html' %}


{% block head %}
  <title>Settings</title>    
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
{% endblock head %}

{% block content %}

      <table class="table w-full border text-sm mt-8">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-4">Banknifty</th>
            <th scope="col" class="px-6 py-4">Nifty</th>
            <th scope="col" class="px-6 py-4">Stock Call</th>
            <th scope="col" class="px-6 py-4">Stock Put</th>
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr class="bg-white border-b">

                <td class="px-6 py-4 text-center">
                    <button type="button"
                    value="{{ i.live_banknifty }}"
                    onclick="BankNifty(this.value)"
                    id="banknifty"
                    class="{% if i.live_banknifty %} 
                            focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800
                            {% else %}
                            focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900
                            {% endif %}">
                            BankNifty
                    </button>
                </td>

                <td class="px-6 py-4 text-center">
                    <button type="button"
                    value="{{ i.live_nifty }}"
                    onclick="Nifty(this.value)"
                    id="nifty"
                    class="{% if i.live_nifty %} 
                            focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800
                            {% else %}
                            focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900
                            {% endif %}">
                            Nifty
                    </button>
                </td>

                <td class="px-6 py-4 text-center">
                    <button type="button"
                    value="{{ i.live_stock_ce }}"
                    onclick="stockCe(this.value)"
                    id="stockCe"
                    class="{% if i.live_stock_ce %} 
                            focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800
                            {% else %}
                            focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900
                            {% endif %}">
                            Stock Call
                    </button>
                </td>

                <td class="px-6 py-4 text-center">
                    <button type="button"
                    value="{{i.live_stock_pe}}"
                    onclick="stockPe(this.value)"
                    id="stockPe"
                    class="{% if i.live_stock_pe %} 
                            focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800
                            {% else %}
                            focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900
                            {% endif %}">
                            Stock Put
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

      <script>
  
        function BankNifty(val){
            data = { name: 'BankNifty', live: val, csrfmiddlewaretoken: "{{ csrf_token }}" }
            $.ajax({
                url: "{% url 'nse_app:changesettings' %}",
                method: "POST",
                data: data,
                success: function(data){ 
                    if(data.data === true){
                        $('#banknifty').val('True')
                        $('#banknifty').removeClass('focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900')
                        $('#banknifty').addClass('focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800')
                    }else{
                        $('#banknifty').val('False')
                        $('#banknifty').removeClass('focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800')
                        $('#banknifty').addClass('focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900')
                    }
                }})
        }
  
        function Nifty(val){
            data = { name: 'Nifty', live: val, csrfmiddlewaretoken: "{{ csrf_token }}" }
            $.ajax({
                url: "{% url 'nse_app:changesettings' %}",
                method: "POST",
                data: data,
                success: function(data){ 
                    if(data.data === true){
                        $('#nifty').val('True')
                        $('#nifty').removeClass('focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900')
                        $('#nifty').addClass('focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800')
                    }else{
                        $('#nifty').val('False')
                        $('#nifty').removeClass('focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800')
                        $('#nifty').addClass('focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900')
                    }
                }})
        }
  
        function stockCe(val){
            data = { name: 'StockCe', live: val, csrfmiddlewaretoken: "{{ csrf_token }}" }
            $.ajax({
                url: "{% url 'nse_app:changesettings' %}",
                method: "POST",
                data: data,
                success: function(data){ 
                    if(data.data === true){
                        $('#stockCe').val('True')
                        $('#stockCe').removeClass('focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900')
                        $('#stockCe').addClass('focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800')
                    }else{
                        $('#stockCe').val('False')
                        $('#stockCe').removeClass('focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800')
                        $('#stockCe').addClass('focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900')
                    }
                }})
        }

        function stockPe(val){
            data = { name: 'StockPe', live: val, csrfmiddlewaretoken: "{{ csrf_token }}" }
            $.ajax({
                url: "{% url 'nse_app:changesettings' %}",
                method: "POST",
                data: data,
                success: function(data){ 
                    if(data.data === true){
                        $('#stockPe').val('True')
                        $('#stockPe').removeClass('focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900')
                        $('#stockPe').addClass('focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800')
                    }else{
                        $('#stockPe').val('False')
                        $('#stockPe').removeClass('focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800')
                        $('#stockPe').addClass('focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900')
                    }
                }})
        }

      </script>

{% endblock content %}
